.navbar {
  height: 60px;
  display: flex;
  justify-content: center;
  background-color: #003580;
}

.navContainer {
  width: 100%;
  max-width: 1250px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 22px;
  font-weight: 500;
}

.navButton {
  margin-left: 20px;
  border: none;
  padding: 5px 10px;
  color: #003580;
  cursor: pointer;
  font-weight: 500;
}
